@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #ffeecb;
}

.home-section {
  background-image: url('src/public/images/home.png');
  background-color: #ffeecb;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 300vw;
  height: 100vh;
  display: flex;

}

.mosquito {
  width: 80vw;
  height: auto;
  position: absolute;
  top: 47.5%;
  left: 18%;
}

.text-secao {
  position: absolute;
  top: 65%;
  left: 14%;
  font-family: 'Urbanist';
  color: #587e5a;
}


.left-aligned {
  margin-left: auto;
  font-size: 20px;
}

.bg-dark {
  background-color: #343a40 !important;
}


.navbar {
  background-color: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  height: 60px;
}

.secao {
  margin-top: 60px;
  position: block;
  display: inline-block;
}


.everything {
  padding: 10px;
  margin-top: 10px;
  font-family: 'Urbanist', sans-serif;
}


.line {
  background-color: rgba(180, 160, 47, 0.596);
  height: 10vh;
}

.div-bg {
  background-color: #587e5a;
  padding: 20px;
}

.textStyle {
  font-family: 'Urbanist';
  margin-left: 700px;
  padding-right: 30px;
  padding-top: 50px;
  text-align: end;
  font-size: 45px;
  font-weight: 200;
  color: white;
}

/* Primeiro Corpo do Home */
.join {
  display: flex;
  padding: 100px 20px 0 0;
}

.textStyle2 {
  margin-top: 50px;
  font-weight: 200;
  color: white;
  padding-left: 25px;
  margin-right: 450px;
  font-size: 40px;
}

.join2 {
  position: relative;
  display: inline-block;
}

.gif-background {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.texto-sobreposto {
  position: absolute;
  top: 23%;
  left: 30%;
  color: white;
  text-shadow: 1px 1px 3px black;

}


.texto-brasil {
  font-size: 35px;
  font-weight: 200;
}

.brasil-texto {
  font-size: 3.5rem;
  font-weight: 900;
  letter-spacing: 0.1rem;
  margin: 0.5rem 0;
}

.texto-dinamico {
  color: white;
  position: absolute;
  top: 36%;
  left: 58%;
  text-align: end;
  font-size: 70px;
  font-weight: 200;
  text-shadow: 1px 1px 3px black;
}